body{
    font-family: Arial, Helvetica, sans-serif;
    color:black ;
    background-color: #aad4cf;
}
.container{
    background-color: #d4e9e7;
    max-width: 1000px;
    margin: 0 auto;
}

.header-title{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    font-weight: 100;
    color: white;
}

nav ul{
    list-style:none;
    padding: 0%;
}

nav ul li{
    display: inline-block;
    width: 32%;
    height: 2rem;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

nav ul a{
    display: block;
    text-decoration: none;
    color: black;
}

section ul{
    padding: 0px 20px 0px 20px;
}

.nav-lines{
    border-right: 3px solid black;
    border-left: 3px solid black;
}


.big-img{
    width: 100%;
}

.small-img{
    width: 15%;
    float: left;
    margin: 10px 14px 10px 0px;
}

article{
    padding: 0px 20px 0px 20px;
}

section{
    padding: 0px 20px 0px 20px;
}


.form-border{
    padding: 0px 20px 20px 20px;
    border: 1px solid black;        
}

button{
    background-color: #d4e9e7;
    padding: 8px 8px;
    border: 2px solid black;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px;
}

.long{
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 0px 8px 0px;
}

.big{
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
    vertical-align: top;
}

textarea{
    width: 100%;
    height: 120px;
}

footer{
    text-align: end;
    padding: 10px 20px 10px 20px;
}
